.storySection {
	position: absolute;
	top: 30%;
	left: 50vw;
	text-align: center;
	width: 100%;
	max-width: 1640px;
	margin: 0 auto;

	@media screen and (min-width: 1025px) {
		transform: translate(-50%, -50%) !important;
	}

	@media screen and (max-width: 1024px) {
		top: 25%;
		display: grid;
		left: 0;
		column-gap: 100vw;
		grid-template-columns: 100vw 100vw;
	}
}

.storySection > h1,
.storySection > h2 {
	font-family: var(--font-bluu);
	display: block;
	font-size: 60px;
	font-weight: 600;
	line-height: 1;

	@media screen and (max-width: 1366px) {
		font-size: 43px;
	}

	@media screen and (max-width: 1024px) {
		font-size: 25px;
		line-height: 1.2;
		width: 100vw;
	}
}

.title {
	margin-left: -25%;
	color: var(--background-dark);

	font-family: var(--font-saira) !important;
	text-shadow: none;

	@media screen and (max-width: 1024px) {
		margin: 0;
	}
}

.subtitle {
	margin-top: 20px;
	margin-right: -25%;
	color: var(--text-secondary);
	background: var(--background-light);
	padding: 0.1rem;
	width: fit-content;
	margin: 0 auto;
	/* border: 4px solid var(--background-dark); */

	font-family: var(--font-saira) !important;
	text-shadow: none;
	@media screen and (max-width: 1024px) {
		color: var(--background-dark);
		margin: 0;
		background: none;
	}
}

.link {
	font-family: var(--font-saira);
	margin-top: 30px;
	color: var(--background-dark);
	display: inline-block;
	text-decoration: none;
	font-weight: 600;
	margin-left: -10%;
	position: relative;
	font-size: 18px;
}

.imageWrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: -20;
	scale: 100%;
	transform-origin: top center;

	@media screen and (max-width: 1024px) {
		scale: 100%;
		width: 300vw;
		height: 100vh;
	}
}

.imageWrapper img {
	object-fit: cover;
	width: auto;
	height: 150%;
	object-position: 50% 0;

	@media screen and (max-width: 1024px) {
		object-position: 0 0;
		width: 100%;
		height: 100%;
	}
}

.arrow {
	position: relative;
	display: inline-flex;
	align-items: center;
	cursor: pointer;

	@media screen and (max-width: 1366px) {
		font-size: 18px;
	}

	@media screen and (max-width: 1024px) {
		display: none;
	}
}

.arrowSmall {
	display: none;

	@media screen and (max-width: 1024px) {
		display: inline-flex;
	}

	position: absolute;
	bottom: 40px;
	right: 5rem;
	align-items: center;
	cursor: pointer;
	text-shadow: none;
	cursor: pointer;
	padding-left: 1rem;
	padding-right: 1rem;
	color: black;
	border: 1px solid var(--text-quarternary);
	background-color: var(--text-quarternary);
	font-family: var(--font-saira);
	font-size: 14px;
}

.arrowSmall::after {
	content: "";
	display: block;
	opacity: 0.2;
	width: 55px;
	height: 2px;
	background-color: var(--background-dark);
	margin-left: 8px;
}

.arrowSmall::before {
	content: "";
	width: 0;
	opacity: 0.2;
	height: 0;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-left: 5px solid var(--background-dark);
	position: absolute;
	right: 12px;
}

.swipeArrow {
	display: none;

	@media screen and (max-width: 1024px) {
		display: inline-flex;
	}
	color: var(--background-dark) !important;
	text-shadow: none;

	position: absolute;
	opacity: 1;
	bottom: 40px;
	left: 5rem;
	align-items: center;
	cursor: pointer;
	font-size: 14px;
}

.swipeArrow::after {
	content: "";
	display: block;
	background-color: var(--background-dark);
	opacity: 1;
	width: 55px;
	height: 2px;
	margin-left: 8px;
}

.swipeArrow::before {
	content: "";
	width: 0;
	opacity: 1;
	height: 0;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-left: 5px solid var(--background-dark);
	position: absolute;
	left: 101px;
}

.dragOverlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 300vw;
	height: 50%;
	z-index: 10;
	cursor: grab;
	touch-action: none;
}

.dragOverlay:active {
	cursor: grabbing;
}
