.imageWrapper {
	position: absolute;
	inset: 0;
	z-index: -1;
	transform: scale(1.1);
	opacity: 0.2;
	user-select: none;
}

.imageWrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.aboutSection {
	max-width: 1640px;
	margin: 0 auto;
	height: 100%;
	padding-top: 100px;
	display: flex;
	padding-right: 1.0416666667rem;
	padding-left: 1.0416666667rem;

	@media screen and (max-width: 1366px) {
		padding-left: calc(180px + 1.04rem);
		padding-right: calc(180px + 1.04rem);
	}

	@media screen and (max-width: 1024px) {
		padding: 0 70px;
		width: 100%;
	}
}

.aboutSection h1 {
	font-family: var(--font-saira);
	font-size: 15px;
	font-weight: 600;
	color: var(--background-light);
	position: absolute;
	top: 55px;

	@media screen and (max-width: 1024px) {
		display: none;
	}
}

.main {
	width: 100%;
	height: 70vh;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	font-family: var(--font-saira);
	justify-content: flex-end;
	@media screen and (max-width: 1024px) {
		height: 100vh;
		justify-content: start;
		max-height: 100vh;
	}
}

.main > .mainText {
	width: 43%;
	font-size: 40px;
	line-height: 48px;
	font-weight: 500;

	@media screen and (max-width: 1366px) {
		font-size: 35px;
	}

	@media screen and (max-width: 1024px) {
		width: 100%;
		font-size: 21px;
		line-height: 24px;
		padding-top: 7rem;
	}
}

.info {
	width: 17%;
	align-self: flex-end;
	color: var(--background-light);
	line-height: 1.5;
	font-size: 18px;
	font-family: var(--font-maison);
	display: flex;
	flex-direction: column;
	gap: 15px;
	opacity: 0.85;

	@media screen and (max-width: 1366px) {
		position: absolute;
		bottom: 20px;
		right: calc(180px + 1.04rem);
		font-size: 16px;
	}

	@media screen and (max-width: 1024px) {
		width: 30%;
		font-size: 13px;
		align-self: flex-start;
		margin-top: auto;
		padding-bottom: 3rem;
	}
}

.info a {
	text-decoration: underline !important;
}

.arrow {
	position: relative;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	color: var(--text-quarternary);
	font-size: 18px;
	margin-top: 50px;
	font-weight: 600;

	@media screen and (max-width: 1024px) {
		font-size: 14px;
	}
}

.arrow::after {
	content: "";
	display: block;
	opacity: 0.8;
	width: 55px;
	height: 2px;
	background-color: var(--text-quarternary);
	margin-left: 8px;
}

.arrow::before {
	content: "";
	width: 0;
	opacity: 0.8;
	height: 0;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-left: 5px solid var(--text-quarternary);
	position: absolute;
	left: 275px;

	@media screen and (max-width: 1024px) {
		font-size: 14px;
		left: 230px;
	}
}
