:root {
	/*Background Colors*/
	--background-primary: #1d3026;
	--background-secondary: #e67a75;
	--background-dark: #141611;
	--background-light: #e5f0e6;

	/*Text Colors*/
	--text-primary: #ffffff;
	--text-secondary: #ee7f7a;
	--text-terciary: #1d3026;
	--text-quarternary: #ece81a;
	--text-inverse: #000000;
	--text-inverse-light: #3c4e45;
	--text-inverse-ultraLight: #8d9b91;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--background-dark);
		--foreground: var(--text-primary);
	}
}

html,
body {
	max-width: 100vw;
	line-height: 1.5;
	overflow-x: hidden;
	scroll-behavior: auto;
}

h1 {
	margin: 0;
	line-height: 1;
}

img {
	pointer-events: none;
	-webkit-user-drag: none !important;
	user-select: none;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
