.heroSection {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	@media screen and (max-width: 1024px) {
		justify-content: left;
		padding: 50px 10px 0px;
	}
}

.content {
	text-align: center;
	width: calc(100% - 300px);

	position: absolute;

	@media screen and (max-width: 1024px) {
	}

	@media screen and (max-width: 600px) {
		width: 100%;
		padding: 0 1rem;
	}
}

.content h3 {
	width: fit-content;
	margin: 0 auto;
	text-shadow: 0 0 3px rgb(0 0 0 / 75%);
	text-shadow: none;
	cursor: pointer;
	padding-left: 1rem;
	padding-right: 1rem;
	color: black;
	border: 1px solid var(--text-quarternary);
	background-color: var(--text-quarternary);
	font-family: var(--font-saira);
}

.title {
	font-family: var(--font-saira);
	text-shadow: 0 0 3px rgb(0 0 0 / 75%);
	font-size: 80px;
	line-height: 1;
	font-weight: 400;

	@media screen and (max-width: 1024px) {
		font-size: 35px;
	}
}

.lead {
	font-family: var(--font-saira);
	text-shadow: 0 0 3px rgb(0 0 0 / 75%);
	font-size: 18px;
	width: 60%;
	margin: 25px auto 0;
	margin-bottom: 20px;

	@media screen and (max-width: 1024px) {
		font-size: 0.9rem;
		line-height: 1.5;
	}
}

.videoWrapper {
	height: 100%;
	width: 100%;
	transform: scale(1.1);
	transform-origin: center center;
	overflow: hidden;
	position: absolute;
	z-index: -10;
}

.videoWrapper video {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
