.inspirationSection {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;

	@media screen and (max-width: 1024px) {
		grid-template-columns: 100%;
	}
}

.left {
	position: relative;
	transform: scale(1.1);
	transform-origin: center right;

	@media screen and (max-width: 1024px) {
		transform: none;
		margin-left: -5%;
		width: 110%;
		height: 100%;
	}
}

.image {
	object-fit: cover;

	@media screen and (max-width: 1024px) {
		position: relative !important;
		width: 100% !important;
		height: auto !important;
	}
}

.right {
	position: relative;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;

	@media screen and (max-width: 1024px) {
		height: 160%;
	}

	@media screen and (max-width: 600px) {
		height: 300%;
	}
}

.bgPink {
	position: absolute;
	inset: 0;
	background-color: rgba(155, 43, 0);
	z-index: 0;
}

.bgImage {
	position: absolute;
	inset: 0;
	object-fit: cover;
	z-index: 1;
	opacity: 1;
	scale: 150%;

	@media screen and (max-width: 1024px) {
		scale: 100%;
	}
}

.content {
	font-family: var(--font-saira);
	position: relative;
	z-index: 2;
	padding: 5rem;
	max-width: 550px;
	color: var(--text-primary);

	@media screen and (max-width: 1024px) {
		padding-top: 3em;
		padding-bottom: 2.5em;
		max-width: 100%;
	}
}

.content h2:first-child {
	font-weight: 700;
	opacity: 0.5;
	font-size: 13px;
	margin: 0 0 0.7rem 0;
}

.content h1 {
	font-family: var(--font-saira);
	font-size: 40px;
	font-weight: 600;
	margin: 0 0 0.5rem 0;
	line-height: 30px;
	margin-top: 0;
	@media screen and (max-width: 1024px) {
		line-height: 1.2;
		font-size: 1.7em;
	}
}

.content p {
	font-size: 15px;
	line-height: 23px;
	margin: 2rem 0 1.2rem 0;
	font-weight: 300;
	font-family: var(--font-maison);

	@media screen and (max-width: 1024px) {
		margin: 0;
		margin-bottom: 1.2rem;
		font-weight: 300;
		font-size: 13px;
		line-height: 1.2;
	}
}

.content h3 {
	font-size: 1.1rem;
	font-weight: 600;
	@media screen and (max-width: 1024px) {
		font-size: 0.8rem;
	}
}

.arrow {
	position: relative;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
}

.arrow::after {
	content: "";
	display: block;
	opacity: 0.2;
	width: 55px;
	height: 2px;
	background-color: var(--text-primary);
	margin-left: 8px;
}

.arrow::before {
	content: "";
	width: 0;
	opacity: 0.2;
	height: 0;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-left: 5px solid var(--text-primary);
	position: absolute;
	right: -2px;
}
