.productsSectionWrapper {
	background-color: var(--background-light);
}

.productsSection {
	max-width: 1640px;
	margin: 0 auto;
	height: 100%;
	padding-top: 100px;
	padding-bottom: 80px;
	display: flex;

	@media print, screen and (min-width: 75em) {
		padding-right: 1.0416666667rem;
		padding-left: 1.0416666667rem;
	}

	@media screen and (max-width: 1800px) {
		padding-left: calc(180px + 1.04rem);
		padding-right: calc(180px + 1.04rem);
	}

	@media screen and (max-width: 600px) {
		padding: 50px 50px;
	}
}

.productsSection h1 {
	font-family: var(--font-bluu);
	font-size: 15px;
	font-weight: 600;
	color: var(--background-dark);
	position: absolute;
	top: 55px;

	@media screen and (max-width: 1024px) {
		display: none;
	}
}

.productsSection ul {
	position: relative;
	margin-top: 8vh;
	list-style: none;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 20%);
	column-gap: 5%;

	@media screen and (max-width: 1366px) {
		margin-top: 1vh;
	}

	@media screen and (max-width: 1024px) {
		margin-top: 0;
		grid-template-columns: 100%;
		row-gap: 3%;
	}

	@media screen and (max-width: 600px) {
		row-gap: 1%;
	}
}

/* CARDS */

.productCard {
	color: var(--background-dark);
}

.productImageWrapper {
	width: auto;
	height: 100%;
	max-height: 310px;
	position: relative;

	@media screen and (max-width: 1366px) {
		height: 150px;
	}

	@media screen and (max-width: 1024px) {
		height: 400px;
		margin: 0 50px;
	}

	@media screen and (max-width: 600px) {
		height: 400px;
		margin: 0;
	}
}

.productImageWrapper img {
	opacity: 70%;
	object-fit: contain;
	transition: all 0.3s ease;
}

.productImageWrapper,
.productFooter {
	@media screen and (max-width: 1024px) {
		max-height: 0;
		overflow: hidden;
		opacity: 0;
		transition:
			max-height 0.4s ease,
			opacity 0.3s ease,
			margin 0.4s ease;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.productCardMobileOpen .productImageWrapper,
.productCardMobileOpen .productFooter {
	@media screen and (max-width: 1024px) {
		display: flex;
		max-height: 1000px;
		opacity: 1;
	}
}

.productCardMobileOpen .productImageWrapper {
	@media screen and (max-width: 1366px) {
		margin: 0;
		margin-top: 40px;
		margin-bottom: 20px;
	}

	@media screen and (max-width: 1024px) {
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

.productCardMobileOpen .productFooter {
	@media screen and (max-width: 1366px) {
		margin: 0;
		margin-top: 40px;
		margin-bottom: 20px;
	}

	@media screen and (max-width: 1024px) {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.productHeader {
	position: relative;
	margin-left: 85px;
	margin-bottom: 60px;

	@media screen and (max-width: 1366px) {
		margin-left: 25px;
	}

	@media screen and (max-width: 1024px) {
		margin-left: 50px;
		margin-bottom: 0;
	}
}

.productKey {
	font-family: var(--font-bluu);
	color: var(--background-dark);
	position: absolute;
	left: -80px;
	top: 0;
	font-size: 1rem;
	font-weight: 600;
}

.productKeyLead {
	position: absolute;
	left: -50px;
	top: 12px;
	content: "";
	width: 30px;
	height: 1px;
	background: #000000;
}

.productTitle {
	font-family: var(--font-bluu);
	font-size: 1.5vw;
	line-height: 24px;
	font-weight: 600;
	white-space: nowrap;
	color: black;

	@media screen and (max-width: 1024px) {
		font-size: 20px;
	}

	@media screen and (max-width: 600px) {
		font-size: 20px;
	}
}

.productImageWrapperHover img {
	opacity: 100%;
	transform: scale(1.1);
}

.productFooter {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 0 75px;
	margin-top: 10px;
	gap: 40px;

	@media screen and (max-width: 1366px) {
		margin: 0;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	@media screen and (max-width: 1024px) {
		margin: 0 25px;
		gap: 60px;
	}

	@media screen and (max-width: 600px) {
		margin: 0;
		padding: 0;
	}
}

.productFooter > * {
	opacity: 0;
	transition: all 0.3s ease;
}

.productCardHover .productFooter > * {
	opacity: 1;
}

.productCard p {
	font-size: 14px;
}

.wavePatternWrapper {
	position: absolute;
	top: calc(60px + (310px / 2));
	/* would end up on the top-left if we didn't account for this: */
	transform: translateY(-50%);
	left: 0;
	right: 0;
	width: 100%;
	height: 20vh;
	pointer-events: none;

	@media screen and (max-width: 1366px) {
		top: calc(80px + (150px / 2));
		height: 15vh;
	}

	@media screen and (max-width: 1024px) {
		display: none;
	}
}

.wavePatternWrapper img {
	object-fit: none;
}

.arrow {
	position: relative;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	color: var(--background-dark);
	transition-delay: 0.1s;
	font-family: var(--font-bluu);
	font-weight: 500;
}

.arrow::after {
	content: "";
	display: block;
	opacity: 0.7;
	width: 55px;
	height: 2px;
	background-color: var(--background-dark);
	margin-left: 8px;
}

.arrow::before {
	content: "";
	width: 0;
	opacity: 0.7;
	height: 0;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-left: 5px solid var(--background-dark);
	position: absolute;
	right: 17px;

	@media screen and (max-width: 1024px) {
		left: 148px;
	}
}
